.companyContainer {
  display: flex;
  width: max-content;
  gap: 4.5rem;
  align-items: center;
}

.image {
  margin: 2rem 0;
  max-width: 100%;
  object-fit: contain;
}

.separator {
  background-color: #282726;
  width: 1px;
  margin: 0.8rem 0;
  align-self: stretch;
}

.kron {
  height: 62px;
}

.statkraft {
  height: 87px;
  width: 310px;
}

.xerox {
  height: 35px;
}

@media (max-width: 1200px) {
  .kron {
    height: 41px;
  }

  .statkraft {
    height: 57px;
    width: 204px;
  }

  .xerox {
    height: 23px;
  }
}

@media (max-width: 960px) {
  .companyContainer {
    flex-direction: column;
    justify-content: center;
    gap: 0;
  }

  .image {
    margin: 1rem 0;
  }

  .separator {
    display: none;
  }

  .kron {
    order: 1;
  }

  .xerox {
    order: 2;
    margin: 1.4rem 0;
  }

  .statkraft {
    order: 3;
  }
}
