.introContainer {
  --font-size: 3.15rem;
  --offset: 1rem;
  --font-plus-gap: calc(var(--font-size) + var(--offset));

  display: flex;
  gap: 1rem;
}

.introText {
  font-family: var(--font-montserrat);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: var(--font-plus-gap);
}

.textContainer {
  height: var(--font-plus-gap);
  overflow: hidden;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  animation-name: slot-machine;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.blue {
  color: var(--blue);
}

.darkPink {
  color: var(--dark-pink);
}

.pink {
  color: var(--pink);
}

.orange {
  color: var(--orange);
}

@keyframes slot-machine {
  0%,
  15% {
    transform: translate3d(0, 0, 0);
    animation-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
  25%,
  40% {
    transform: translate3d(0, calc(-1 * var(--font-plus-gap)), 0);
    animation-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
  50%,
  65% {
    transform: translate3d(0, calc(-2 * var(--font-plus-gap)), 0);
    animation-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
  75%,
  80%,
  90% {
    transform: translate3d(0, calc(-3 * var(--font-plus-gap)), 0);
    animation-timing-function: cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
}
