.grid {
  grid-area: home;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  margin: 120px 0;
}

.buttons {
  display: flex;
  gap: 1.5rem;
}

.separator {
  height: 1px;
  width: 100%;
  background-color: var(--primary-border-color);
}
